[2017-04-28 19:26] kaj opened #3 "Release 1.0"
Tracking issue for rsass 1.0 release criteria.

- [x] Basic sass constructs.
- [x] Sass interpolation (`#{"foo" + $bar}`) in values.
- [ ] Sass interpolation in selectors.
- [ ] Sass interpolation in other places where it is legal.
- [ ] A way to define functions in Rust and call them from sass.
- [ ] Of course, the release candidate should build successfully on travis.

[2017-06-10 14:25] jnicklas opened #9 "Split Value into css::Value and sass::Value"
I've been trying to get a grip on how to separate printing of the final CSS from the compilation of Sass to CSS, I think I have a pretty good idea on how we can get there, if you think that this is a goal worth working toward.

My thinking is to try to get rid of the `scope` being passed around in output_style, and to apply the entire Sass compilation before we get to printing. As a first step to

[2017-06-10 17:19] jnicklas commented on #9
@kaj what do you think? Is this a sensible idea?

[2017-06-10 18:39] kaj commented on #9
I have considered it, but decided against it at the time.  Might still be a good idea, though.

What made med decide against is two things:

Sometimes, I think a value actually should be evaluated more than once, e.g. both when declaring a variable and when using it (though I'm not really sure about that).

Also, declaring almost all values feels like a lot of duplicate code, which I don't like.

[2017-06-10 18:46] kaj commented on #9
Also note that there is a small start of this done in `output_style.rs`, in the form of `enum CssBodyItem`.  It is used for some buffering and to implement namespace rules.

[2017-06-10 22:59] jnicklas commented on #9
I think we can reduce some of the duplication by moving towards having structs inside the enums, for example, like this:

[code]

I think we'd want to do this at a later point though, since it will take a lot of work to get there.

This has the added benefit of making it a little easier to factor some of the large match statements into smaller chunks, though I'm not sure whether that's desirable,

[2017-06-11 12:34] kaj commented on #9
An other way would be to skip the enum altogether and have `sass::Value` and `css::Value` as traits instead.  The different kinds of values could be implemented as separate structs that implement one or both of the traits.

I haven't really considered the trade-offs between a trait with multiple structs vs. an enum, I just started with the enum because it seemed simpler and isn't available in othe

[2017-06-11 16:46] jnicklas commented on #9
I think the `enum` approach has some advantages, most importantly the ability to pattern match on the enum's variants, which I think is very useful. Also the ability to actually see which variants exist can be pretty useful. A trait based approach might also mean that we'd need to resort to dynamic dispatch in some cases, which isn't a huge cost, but still it'd be nice to avoid IMO.

Personally I'

[2017-06-11 17:47] kaj commented on #9
Yes, I like pattern matching over enums too, but it does tend to make some functions rather large.  Using a method call with separate implementations makes for shorter functions, but instead spread out over a larger part of the code.  But yes, that would mean dynamic dispatch.

On the other hand, I don't know that the efficiency of dynamic dispatch would be worse than the multiple comparisions or

[2017-06-15 09:07] jnicklas commented on #9
I've been playing around with this, and it turns out to be quite challenging to split Value into two, since there are a lot of places where one or the other is used, and it's not obvious which one they should accept.

Nevertheless, I think it's worth it to do this split. I think the increased type safety due to this will be worth it, since there are already some places in the code base, where ther

[2017-06-24 15:45] jnicklas opened #11 "Changes in rustfmt"
The latest version of `rustfmt` changes the default formatting of Rust code quite dramatically, personally I like the new defaults, but I guess it is a matter of taste. The PR I just submitted fails on Travis due to these changes. This leaves us with a few options:

1. Reformat everything to the new style
2. Keep the existing formatting and apply legacy config so we can use the new version of rust

[2017-06-25 11:40] kaj commented on #11
Generally, I say it's a good idea to try to keep up with the Rust community when it comes to code standard.

I recently selected the third alternative for [another project](/kaj/ructe), but that was mainly because `rustfmt` seemed to be in the middle of some rather fast changes and I just wanted to ignore it until it stabilized.  Maybe that has happened now?

Even when reformatting to new style, i

[2017-06-25 20:40] jnicklas commented on #11
I'm not sure whether rustfmt has stabilized now, I think there are still a lot of discussions going on about the default style format, and these will probably make themselves into rustfmt eventually.

From what I've seen it looks like rustfmt is moving more towards "block" indentation, rather than "visual" indentation, but I'm not sure whether that's everywhere or only for some constructs.

I thin

[2017-06-30 16:59] #11 closed

[2017-07-01 11:24] kaj commented on #9
With functions, there is also the problem that they would need to be able to take both a `sass::Value` and a `css::Value` for any parameter value.  So maybe `sass::Value` needs to impl `From<css::Value>`?  Then the parameter type for functions could be `&Into<sass::Value>` ?

Maybe a way to do that and avoid some code duplicating would be that one variant in the `sass::Value` enum could be `Css(cs

[2017-07-01 12:35] jnicklas commented on #9
I've already been working on this a bit and in my implementation I went with functions both receiving and returning only `css::Value`. IMO this kind of makes sense, since the function arguments should be evaluated already when they are passed to the function, the function shouldn't be responsible for evaluating them. The same goes for the return value. Returning for example a `variable` is pretty

[2017-07-12 14:21] Boddlnagg commented on #3
Will widespread CSS/SASS frameworks like [Bourbon](http://bourbon.io/) or [ZURB Foundation](http://foundation.zurb.com/sites.html) work with 1.0? Currently these two don't work.

[2017-07-12 20:37] kaj commented on #3
I don't want to add beeing able to transpile specific frameworks to the release criteria, but it may well be that the missing interpolation is the thing that is lacking for them, and if so, it will work.

One thing that I have not added to the release criteria, but that I want to support as soon as possible, is the selector-likes stop markers that is used for css animations.

[2017-07-13 09:30] Boddlnagg commented on #3
Okay, I looked at the errors that I get when I try to use Bourbon and Foundation with rsass, and the current blocker actually seems to be the missing interpolation (interpolation in property names for Bourbon and interpolation in media queries for Foundation), though this does not say whether everything will work once that is implemented.

Anyway, thanks for your work on this project!

[2017-10-20 19:13] kaj commented on #9
This is essentially done now that PR #13 is merged.  Is there anything else we need to consider before closing this issue, @jnicklas ?

[2017-11-13 13:24] kaj commented on #3
I added a bullet point for string quoting / unqouting.  I'm considering requiring support for placeholder selectors and `@extend` directive.

[2017-11-27 14:34] #9 closed

[2017-12-25 23:43] biluohc opened #15 "Can you split the crate or move main.rs to examples? Clap is compile slow and unnecessary when use rsass in build.rs."

[2017-12-26 11:38] kaj commented on #15
Yes, I agree.  On the other hand, I need the command-line rsass to run the test suite.  I have looked for a way to disable the clap dependency when building rsass as a dependency, but haven't found any yet.

I think a separate -bin crate would be too inconvenient, but I'll look into a way to make the binary an optional feature of the crate.

[2017-12-26 11:43] biluohc commented on #15
Consider move to examples and use [`[dev-dependencies]` ](http://doc.crates.io/specifying-dependencies.html) ?
[code]

[2017-12-26 11:51] kaj commented on #15
Well, I'll still want to be able to `cargo install` the binary.  But I'll look into making it a feature.

[2017-12-26 11:52] biluohc commented on #15
Ok, thanks you very much.

[2017-12-28 18:31] #15 closed

[2018-01-07 12:14] kaj opened #16 "Do not build a no-op command line"
Currently, the `commandline` feature is required to build a useful command-line interface. If the feature is not specified, [clap](https://crates.io/crates/clap) is not required and the build is much faster.

However, when the `commandline` feature is not given, a `rsass` binary is still built.  I have made it so that running this binary only fails with a message about the `commandline` feature fl

[2018-01-18 02:08] biluohc commented on #16
Try required-feature?

https://doc.rust-lang.org/cargo/reference/manifest.html#the-features-section

[2018-01-18 18:39] kaj commented on #16
That sounds like it should work.  Thank you for the suggestion!

[2018-01-18 20:28] #16 closed

[2018-05-11 22:00] Geobert commented on #3
Hi, don't forget windows support! Thanks for your initiative!

- [ ] build on appveyor

[2018-05-12 17:55] kaj commented on #3
Yes, it "should" build on windows, and I hope there won't be any big problems with that in itself (I think rsass works on windows as-is), but actually having continous verification of that would be a good thing.  I'll try to look into it in a week or so.  Hints welcome ...  :-)

[2018-05-12 18:14] Geobert commented on #3
I can give you a config file for appveyor :)

[2018-05-12 18:48] Geobert commented on #3
Here: https://gist.github.com/Geobert/c3a3ed1c62d4d2f5294a093b36fcd175

[2018-05-19 10:54] kaj commented on #3
Appveyor build added and successfull.  Thanks for the config file, @Geobert .

[2018-08-31 12:41] killercup opened #25 "Fuzz error in at_rule"
Hey, saw your 0.9 release! Congrats!

I've just run the fuzzer from <https://github.com/rust-fuzz/targets/pull/119> again on the current master and it gave me some semi-useful output (see below). It seems to point to this line:

https://github.com/kaj/rsass/blob/5181e8f6c4c087a3bfbf9c9baceb7da271b2c935/src/parser/mod.rs#L190

I sadly don't have time to dig into this further, but maybe this is alre

[2018-09-01 19:36] kaj commented on #25
Thank you for your report!  Yes, it seems there should be a nom `map_res!(...)` instead of an `unwrap()` there.  I will look into it shortly.

[2018-09-02 20:14] #25 closed

[2018-12-20 15:43] tw1t611 opened #26 "1fr gets compiled to 1 fr"
hi, just found this issue for
[code]
did output
[code]
which crashed the code.

[2018-12-20 17:31] kaj commented on #26
Yes, this sounds like a bug.  It's probably easy to add `fr` to the set of known units.  Fixing so unknown units are handled correctly are probably a bit harder, but both should be done, and patches are welcome.

If noone submits a PR soonish, I'll attemt to fix it, but I guess I won't have time before christmas, and possibly not before the new year.

[2018-12-21 20:03] tw1t611 commented on #26
You are right, adding the unit just worked.
I did open a pr.

[2018-12-21 20:03] #26 closed

[2019-01-08 19:05] dfeyer opened #30 "CSS grid support"
When I try to use ```grid-template-columns: 1fr 1fr``` the resulting CSS is ```grid-template-columns: 1 fr 1 fr``` (the space between 1 and fr broke the syntax).

[2019-01-08 19:06] dfeyer commented on #30
Sorry it's a duplicate of https://github.com/kaj/rsass/issues/26 but I don't know how to add the "fr" unit ...

[2019-01-08 19:08] dfeyer commented on #30
OK my bad, it's fixed on master, did you plan to release 0.9.5 soonish ? Thanks

[2019-01-08 19:21] kaj opened #31 "Update sass quoting and escaping rules"
The specification has changed in how special characters are supposed to be escaped / unescaped. I'm working on fixing it, but since it's taking longer than expected I open this issue to keep track of it.

[2019-01-08 19:23] kaj commented on #30
Hi!  I hoped to release a 0.10.0 soonish (with #31 fixed), but since that seems to take a while I guess it makes sense to have another 0.9 release.

[2019-01-09 21:52] kaj commented on #30
Release 0.9.6 with support for the `fr` unit is available on crates.io (or simply `cargo update`) now.

[2019-01-09 21:53] #30 closed

[2019-01-10 01:15] maxbrunsfeld opened #32 "API for inspecting parsed selectors"
👋 Thanks for building this!

I'm using `rsass::parse_scss_file` to parse some SCSS code. I want to use the syntax tree to perform my own selector-matching.

The API suits my needs in a lot of ways, except that I cannot inspect the contents of a selector. I can iterate through the *parts* of the selector, but I cannot introspect the contents of the `SelectorPart` because its definition lives inside

[2019-01-10 12:46] kaj commented on #32
Thank you!

Making the `SelectorPart` variants pub is ok for me.  I guess the main reason I haven't done it yet is that I don't want to guarantee more API stability than necessary, but the since the main version number is still zero I guess I don't really guarantee any such stability anyway.

One thing I'm not sure about is the fact that I have Descendant as a variant without contents, so a select

[2019-01-10 12:51] kaj commented on #32
There is a `fn eval_selectors` in `output_style.rs` that may also need to be pub for this to be usefull?  Maybe it should be converted to a method of either `Selectors` or `Scope`.

[2019-01-10 16:20] maxbrunsfeld commented on #32
For my use case, I am fine with the flat sequence representation of a selector.

I also don’t happen to support string interpolation in my project (I’m basically using this parser as a CSS parser with support for the ‘&’ nesting operator, which I think is likely to be standardized at some point.

So basically, the raw contents of the enum are totally fine for me, but I can understand that you migh

[2019-01-16 11:37] chpio opened #33 "Compile to WASM"
https://github.com/sass/node-sass/issues/2011

I've mentioned in that issue, that there could be a self contained "core" library without any external bindings, it would request all the needed data by some kind of abstract async api. That way we could port it more easily to other platforms like WASM (nodejs file io or even the browser).

[2019-01-18 02:14] sunjay opened #34 "Undefined variables results in the rule just not being outputted"
Thanks for working on this crate!

This is a case where I would expect an error to be produced, but instead I just get nothing at all.

Here's an example program with `rsass 0.9.6` and Rust 1.32.0:

[code]

It prints:

[code]

Despite the `$does-not-exist` variable not being defined, I get no error. The rule just isn't produced.

I would really like it if errors like this were made part of the `Er

[2019-01-20 15:46] kaj commented on #34
The "not being printed" part is because sass considers a property being set to a null value being equivalent to a property not being set at all, and an empty rule should not be printed. So that part reflects the specification.

I agree that having an error returned when trying to use an undefined variable would be helpfull, but I'm afraid it would go against the sass specification.  Or would it?

[2019-01-20 15:54] sunjay commented on #34
I found a couple of tests here: https://github.com/sass/sass-spec/search?q=undefined+variable

It does seem to be an error case when a variable ends up undefined.

[2019-01-20 15:55] sunjay commented on #34
I also checked with several of the existing implementations and they all appear to produce errors for when a variable is not defined.

[2019-01-20 15:59] kaj commented on #33
Cool!  I havn't really looked into wasm yet. What would be required to compile rsass into wasm?  Does it have to be no-std?  In that case, I guess some kind of callback-based handling would be needed for supporting `@import`?  Maybe converting `FileContext` to a trait that a caller can provide it's own implementation of?

The one dependency that could probably not be removed from such a "rsass cor

[2019-01-20 21:34] kaj commented on #34
Great, then rsass should indeed also produce an error on use of an undefined variable.  Do you want to write the changes?

Note: the automatic test-converter `spectest.rs` won't be able to convert these tests, as it don't handle any tests with expected errors.  Instead, a manual test will have to be written.

[2019-01-20 22:00] sunjay commented on #34
I would need some mentoring instructions to get started. :)

If we reach out to the broader community (and we have some instructions), someone may volunteer to help out. I'd be happy to help get the word out. :)

[2019-01-22 11:59] chpio commented on #33
No, but a some of the std APIs are stubbed out (like [threading and atomics](https://rustwasm.github.io/2018/10/24/multithreading-rust-and-wasm.html)) or panic (filesystem).

yeap.

I think it should work in wasm. Wasm is a normal [ISA](https://en.wikipedia.org/wiki/Instruction_set_architecture) (like x64/x86), but there are just basic bindings to the host system (like memory allocation), no files

[2019-02-03 02:15] glebm commented on #34
@sunjay I've given it a go at #35

[2019-02-03 12:18] #34 closed

[2019-02-03 14:36] glebm opened #37 "@media with multiple clauses not parsed correctly"
Input:

[code]

Output:

[code]

(not how everything after `and` is a single token).

If there are comments, it fails to parse:

[code]

Output: Parse error (Failed to parse entire input).

[2019-02-03 14:48] glebm commented on #37
I can try looking into implementing some basic support unless you already have something in mind for this.

[2019-02-03 15:33] kaj commented on #37
I have nothing in particular.  To fix it properly is a bit complicated since a `@media` rule is one case of a generic `@`-rule, and they should allow some stuff that doesn't really look as structured as the clauses of a `@media` rule.

If you have anything to improve this without breaking existing integration tests, a PR would be very welcome!

[2019-02-03 18:40] glebm opened #39 "Bug: Got multiple bindings ... but non-list value map-merge"
Input

[code]

Error:

It works if I change:

[code]

to:

[code]

[2019-02-03 18:44] kaj commented on #39
Hm, sounds like the call isn't recognized as a call in the case with a newline after the second argument.  I'll look into it!

[2019-02-03 19:31] glebm opened #41 "Never terminates on this example"
[code]

Expected: This should work as `url` is not a function call in CSS.
Actual: Produces no output and never terminates.

It seems to go into the bad arguments branch of `str-slice`, here is the first three  `eprintln!`s:

[code]

[2019-02-03 19:37] glebm commented on #41
There is some special handling in Dart Sass here:

https://github.com/sass/dart-sass/blob/a81017275ad543fde3bced92d96b1d32c62c9014/lib/src/parse/stylesheet.dart#L716-L726

and here:

https://github.com/sass/dart-sass/blob/a81017275ad543fde3bced92d96b1d32c62c9014/lib/src/parse/stylesheet.dart#L2250-L2311

Likewise in Ruby Sass and libsass.

[2019-02-03 19:40] glebm opened #42 "Support CSS functions with special syntax: "calc", "element", "expression", "min", "max", "progid", "url""
1. It is forbidden to declare user functions with these names.

   Dart Sass checks this in the parser:
   https://github.com/sass/dart-sass/blob/a81017275ad543fde3bced92d96b1d32c62c9014/lib/src/parse/stylesheet.dart#L716-L726

2. Expressions with these functions should be parsed as strings, not function calls.

   This is also handled in the parser in Dart Sass:
   https://github.com/sass/dart-sa

[2019-02-03 19:42] glebm commented on #41
I've opened a separate issue about the lack of support for `url` et al.

Lack of support for these still shouldn't prevent termination, this seems to me like a different problem.

[2019-02-03 22:16] glebm opened #43 "Tests: Whitespace should be normalized"
Many tests fail only because the `output.css` files have some extra newlines.

This should be fixed to match sass-spec behaviour:

https://github.com/sass/sass-spec/blob/0f59164aabb3273645fda068d0fb1b879aa3f1dc/lib/sass_spec/util.rb#L5-L7

That is, normalizing the output of both `rsass` and the expectation, e.g. like this:

[code]

I've tried implementing this but gave up after an hour of struggli

[2019-02-04 20:07] kaj commented on #43
Ah, nice.  I was trying to get the correct number of newlines at all positions, but that wasn't really straightforward ...  And if the official spec runner normalizes the newlines, we can do the same in rsass!

I'll add it.

[2019-02-04 20:42] #43 closed

[2019-02-05 21:44] kaj commented on #41
Oh, I see what happens here ...  What rsass has instead of proper support for css functions is that if any function call returns an error, the error is _not_ reported to the user, instead the function call is evaluated to itself.  This does not work well with recursive functions.

Well, with proper css function pass-through that special case can be removed, so I guess actually supporting known css

[2019-02-05 21:47] kaj commented on #42
Yes, this should be fixed.  The second point also means that the current parsing rules that, under some rather sketchy conditions, accepts more or less anything as a string could be limited to only affect arguments to these special functions.

[2019-02-06 19:48] maxbrunsfeld opened #46 "Expose structured information about parse errors"
Right now, when an SCSS file fails to parse, I get back an `Error::S` that originates [here](https://github.com/kaj/rsass/blob/5036c6468dedf50e30a2c2407214c358c9db58cd/src/parser/mod.rs#L61-L64). SCSS files can be pretty large, so that 'remains' part of the message can get very long. I'd like to just report the row and column where the error occurred. Is is possible to get that information from `n

[2019-02-07 06:06] kaj commented on #46
Yes, it's certainly possible, just not implemented in rsass yet.

Improvement is needed in two ways:

1) Converting the 'remains' part to row and column numbers isn't actually that hard.  The thing that remains is a sub-slice of the byte-slice beeing parsed, so as long as the whole data is still in memory, the slice before the error can be found and the line number and column number can be calcula

[2019-02-07 06:28] kaj commented on #46
A first step should be to add an expected end-of-file to the end of [the sassfile parser](https://github.com/kaj/rsass/blob/5036c6468dedf50e30a2c2407214c358c9db58cd/src/parser/mod.rs#L73-L92), so we get an error at all, instead of a successfull but incomplete parse.

[2019-02-10 20:03] mitchtbaum commented on #3
Would you please break this down further so we can gauge ongoing progress and work remaining?

[2019-02-11 05:52] kaj commented on #3
I extracted Support placeholder selectors and the `@extend` directive as a separate item.  Other than that, I don't really know. Also, I think at least issues #41 , #42 and #46 should be resolved.

[2019-02-12 01:06] nex3 opened #48 "Consider exclusively running specs from sass-spec.rb"
It looks like many of the tests in the test/ directory are auto-generated from sass-spec. This requires this package to build in logic to understand the format of the sass-spec repo, which risks being broken by changes to sass-spec (such as https://github.com/sass/sass-spec/pull/1340). I think it's worth considering doing what Dart Sass, LibSass, and Ruby Sass do and only running the specs using t

[2019-02-12 01:55] glebm commented on #48
I can see 2 benefits to having the tests in Rust:
1. Speed, it's *a lot* faster.
2. IIRC, the Rust team runs the cargo test suites of many packages when working on updates to the language. If the tests are not invoked via `cargo test`, this won't work.

[2019-02-13 23:18] maxbrunsfeld commented on #32
Thanks!

[2019-02-13 23:18] #32 closed

[2019-02-14 12:18] kaj commented on #48
A third benefit of converting the tests to rust code is that they can be executed without even building the `rsass` command-line interface, which contributes a lot to a fast test cycle during development.

I have taken a quick look at the `.hrx` files, and even though it seems very non-standard (the only code I found for unpacking it is the [ruby lib recently developed](https://github.com/google/h

[2019-02-14 23:36] nex3 commented on #48
The HRX specification lives at https://github.com/google/hrx.

[2019-02-15 01:24] kaj commented on #48
I wrote a simple reader, which I hope is more or less enough for updating `spectest`.

https://crates.io/crates/hrx-get

[2019-02-15 18:06] kaj commented on #48
As of 98f39e46b878cd75bed831ef1b9549caf101ec34, `spectest` supports reading sass-spec tests from `.hrx` files, so we can continue trying to keep up with changes there.

Thanks for the heads-up, @nex3 !

And I should mention, the number of successful tests that I update for each release is calculated by running the official sass-spec test runner.

[2019-02-15 18:06] #48 closed

[2019-02-28 06:27] kaj opened #49 "Improve formatting of error messages"
I've just come across this interesting library for error source location tracking and reporting:

https://github.com/kevinmehall/codemap-diagnostic
https://github.com/kevinmehall/codemap

This repository is a good example of usage: https://github.com/google/starlark-rust/tree/master/starlark

_Originally posted by @glebm in https://github.com/kaj/rsass/pull/47#issuecomment-468004392_

[2019-04-01 13:54] chpio commented on #33
<https://hacks.mozilla.org/2019/03/standardizing-wasi-a-webassembly-system-interface/>

[2019-04-13 15:31] glebm opened #50 "Use raw string literals for sass-spec tests?"
sass-spec tests are unreadable in the current form (due to all the `"\n"`).

Perhaps rsass should use raw string literals instead?

https://rahul-thakoor.github.io/rust-raw-string-literals/
https://doc.rust-lang.org/reference/tokens.html#raw-string-literals

[2019-06-12 15:00] naturallymitchell commented on #3
how do the tests look now?  (since https://github.com/kaj/rsass/commit/0597e3cb85495a7e62d2df0257da9388ac158f64)

[2019-06-14 07:04] kaj commented on #3
Pretty similar to how they looked before, only some tests that contained multiple properties testing different aspects of something has been broken up into a set of tests testing one aspect each, as for example https://github.com/kaj/rsass/commit/0597e3cb85495a7e62d2df0257da9388ac158f64#diff-b97f6e13978eef129ce0222c336c6d02

[2019-07-16 14:24] kaj commented on #50
Yes, that would be nice ...   But it seems raw `\r` (CR) characters isn't allowed in raw string literals and cannot be escaped.  Since some tests contains them that seems to be a stopper.

The current code just formats both then input and output with the rust `Debug` formatter, which does a good job of converting the strings to source code that the rust compiler will get back the original strings

[2019-08-15 07:19] nic-hartley opened #53 "Don't remove spaces in `calc`"
Repro, assuming Bash and the `rsass` binary somewhere on your `$PATH`:

[code]

Importantly, the input is `calc(100% - 20px)` (with spaces); the output is `calc(100%-20px)` (without them) -- this makes the CSS invalid.

#42 is possibly related, since this bug doesn't occur with non-function-like stuff (e.g. `border: 1px solid black` has all the spaces you'd expect) and special-casing `calc` to be

[2019-08-19 23:21] maxbrunsfeld opened #54 "Include a license file"
The package's `Cargo.toml` [specifies](https://github.com/kaj/rsass/blob/64f6a73e91ec999cbe528e29deb999fa40fd193c/Cargo.toml#L19) a License of `MIT/Apache-2.0`. But I think that conceptually, "MIT" and "Apache-2.0" are only *templates* for licenses, and the standard practice is to include in the repository (and in the published crate) a file called `LICENSE` containing your actual license (usually

[2019-08-26 14:54] kaj commented on #53
Yes, this is a problem.  I see two potential ways to fix it:

1. Recognize that the `calc` function is special (as specified in #42).  The arguments to `calc` should probably be kept verbatim except for interpolations.
2. Add general support for keeping whitespace around the `+` and `-` operators.  This already exists for the `*` and `/` operators.

I guess (1) is probably the most correct, as e.g

[2019-08-27 04:58] kaj commented on #53
No difference that I'm aware of, but the [sass spec](https://sass-lang.com/documentation/syntax/special-functions#calc-element-progid-and-expression) says:

[2019-08-29 14:57] kaj commented on #54
Not more than that I thought the extra files would be redundant.  The [cargo manual](https://doc.rust-lang.org/cargo/reference/manifest.html#package-metadata) says:

... so I though that since the `MIT/Apache-2.0` combo might be the closest thing there is to a standard license for rust projects, extra files should not be needed.  But if there is need for a separate file, I can add it.  Would it be

[2019-09-02 16:12] kaj commented on #50
Tests now look like this example.  Still a lot of backslashes, but at least the lines are now separate lines and not small parts of one extremely long line for each test.

https://github.com/kaj/rsass/blob/19c7671dbb9bbe37890471bbbf6613068de0dbbd/tests/basic/main.rs#L57-L74

I think this solves the problem.  Are you okwith that, @glebm ?

[2019-09-02 21:05] kaj commented on #42
Some of these gets fixed by #55 , but some (at least `min`, `max` and `url`) has a more complex boundary for when they should be kept verbatim and when their arguments should be evaluated.

[2019-09-05 10:10] #53 closed

[2019-09-28 20:05] kaj commented on #50
Yes, I think that fix is enough.

[2019-09-28 20:05] #50 closed

[2019-09-28 20:31] #41 closed

[2019-12-12 21:04] Boiethios opened #58 "rsass::Error does not implement std::error::Error"
I compile my `scss` files into a function `fn compile_all() -> Result<(), Box<dyn Error>>` so that whatever the error, I can use the `?` operator. However, since the rsass `Error` does not implement the Error trait, I cannot use it that way.

Is it possible to implement this trait? I assume that it is a mere oversight.

BTW, thanks for the work, it's a great crate that allows me to not install Nod

[2019-12-12 21:08] Boiethios opened #59 "@import behavior"
The first step I do when I port a `css` to `scss` is to just change the extension, compile it, and verify that there is no regression. In my situation, the following lines:

[code]

were transformed to:

[code]

Maybe I'm missing something, but I don't think that it's a normal behavior. The line should be copied verbatim, doesn't it?

[2019-12-14 18:45] kaj commented on #58
That sounds reasonable, and yes, I think you are right in assuming this is just an oversight.  I'll fix.

[2019-12-14 18:57] #58 closed

[2019-12-14 18:59] kaj commented on #59
Yes, that is a bug in rsass.

[2019-12-16 13:52] #59 closed

[2019-12-16 13:59] kaj commented on #37
Is preserving the newline inside the `@media` condition important?  Otherwise this is fixed in 0c4c827c12.

[2019-12-17 15:07] #54 closed

[2019-12-17 17:45] kaj commented on #31
I think I can consider this done by now.

[2019-12-17 17:45] #31 closed

[2020-01-23 05:53] Boiethios opened #60 "Support the `@use` directive"
I define a color palette in a `_palette.scss` file:

[code]

and then I `@use` is from another file:

[code]

I've tried as well to use an explicit namespace `@use palette as palette` or to put everything in the global namespace `@use palette as *` but I get the same error message:

[code]

[2020-01-24 09:39] kaj commented on #60
Yes, `@use` / modules is a relatively new addition to sass, and is still not supported by any implementation other than dart sass.   You don't get an error message for the `@use` line itself, as it could be a general @-rule that should be preserved to the css.

[2020-02-21 12:24] Boiethios opened #61 "Pseudo-class inside a block fails to compile"
This snippet fails:

[code]

Expected result:

[code]

Note that my usecase is more complex, it's something like:

[code]

[2020-02-21 12:29] Boiethios commented on #61
Sorry, I messed up my CSS syntax…

[2020-02-21 12:29] #61 closed

[2020-02-22 22:49] connorskees opened #63 "Selectors can contain newlines"
Hello!

Currently `rsass` ignores selectors that are separated by newlines and just uses the last selector:
[code]
becomes
[code]
and the expected output should be
[code]

A more reduced example being
[code]
which is expected to be emitted unchanged.

[2020-02-22 23:02] connorskees opened #64 "Namespaced style values don't have to end in semicolons"
Currently this input,
[code]
results in
[code]
but the expected output should be
[code]

The output is correct for
[code]

[2020-02-23 01:03] kaj commented on #64
I tested this and saw correct output, so I thought maybe it's fixed recently in master, but found no relevant changes ...   Then I looked closer at your actual result, and noticed `\d` (as opposed to e.g. `\n`).

Yes, I can confirm the bug when using dos newlins (\r\n rather than just \n) in the input.

So, this should be fixed in the next release.  Until then, a workaround (other than using expli

[2020-02-23 01:09] kaj commented on #63
This bug is also (like #64) triggered by using dos newlines.  Using unix-style newlines in the input, the reduced example gets this output:
[code]
... which I think is correct, even if other sass implementations preseve the newlines.

Fixing so input files with dos-style newlines is handled the same as unix-style newlines should hopefully be easy enough to include in the next release of rsass.

[2020-02-23 10:25] #63 closed

[2020-02-23 12:24] #64 closed

[2020-02-27 13:05] kaj opened #65 "Support the `@extends` directive"
The `@extend` directive should be supported by rsass, and probably before release 1.0.

It seems complicated, but there's a good introduction to how it should work at https://gist.github.com/nex3/7609394 .

[2020-03-17 15:48] connorskees opened #66 "Assertion error for .99999"
rsass currently fails with an assertion error for the value `.999999` (when precision is the default value of 5). The correct output should be `1`. This error is new in 0.12.3-PRE; in 0.12.2 it incorrectly gives a value of `.999910`.

[code]

[2020-03-23 22:42] #66 closed

[2020-04-15 03:19] connorskees opened #68 "Rsass hangs on many parens"
`rsass` begins to run very slowly for this input,
[code]
this runs forever,
[code]

This is preventing a default run of the sass-spec and occurs on the most recent commit on master.

[2020-04-15 07:44] kaj commented on #68
Ah, yes, it seems to become quadratic with reparsing each subparenthensis both as a potential dictionary and then as a value.  It should be possible to either rewrite that so it just parses the expression (which might be a key) once, and then checks for a colon, or to limit the "key" to not start with a parenthesis.

https://github.com/kaj/rsass/blob/9aafa67871127f0b24ae0327dd467440449fa904/src/pa

[2020-04-18 23:53] #68 closed

[2020-05-15 20:25] divergentdave opened #74 "Panic on numbers that are too big or too precise"
I found through fuzzing that values like `2000000000000000000000000000000000000` or `0.2000000000000000000000000000000000000` will result in a panic due to integer overflow in `decimal_integer()` or `decimal_decimals()`. This can be addressed by using checked multiplication and addition inside these functions, and adding a fallback parser that uses arbitrary precision integers (or floating point n

[2020-05-21 12:54] kaj commented on #74
Hi!  I see you went ahead and contributed a fix.  Thank you for that, but before doing a real review of it, I'd like to take a step back and consider the alternatives.  These are the ones I can think of:

1) Keep using `Rational<isize>`, but make sure there is a proper error for overflowing and round numbers with too many decimals.
2) Use `Rational<BigInt>` instead of 'Rational<isize>`.
3) Use `Ra

[2020-06-26 13:19] connorskees commented on #74
For comparison, `grass` currently uses [option 3](https://github.com/connorskees/grass/blob/master/src/value/number/mod.rs#L20). Initially everything was stored as a `BigInt`, but by switching to a hybrid representation `grass` was able to improve performance by about 50%. With regard to overflow, [`grass` uses checked operations](https://github.com/connorskees/grass/blob/master/src/value/number/m

[2020-09-19 18:02] kaj commented on #74
Hi again!  Sorry for the radio silence on this.  After some consideration, I think you are right that option 3 is best.

[2020-09-19 18:38] #74 closed

[2020-10-21 08:28] kaj commented on #46
The PR #79 is a relevant improvement to this, improving the structure of `Error::ParseError` and removing the case where a parse error is handled as an `Error::S`.

The PR #62 is also relevant, taking the refactoring a bit further, but that is awaiting a release of `nom_locate`.

Then the second half still remains, currently a parse error is most often a `nom::Tag` or `nom::Alt` (in a `msg` string

[2020-10-21 18:15] kaj commented on #49
With the merge of #79 , I'll consider this done.

[2020-10-21 18:15] #49 closed

[2020-10-21 18:18] kaj commented on #42
I'm not sure if this is done or not.  There has been lots of small improvements to this area, in #76, #77, #78 as well as in some separate commits.

[2020-11-03 22:22] #37 closed

[2021-02-12 09:59] mfeckie opened #91 "Support `&[thing=""]` syntax"
Do you have a sense of how difficult it would be to support this type of syntax ?

[code]

I'm happy to put some work into it myself if you can point me in the right direction.

[2021-02-12 12:25] kaj commented on #91
Yes, that should be supported.  It might be as simple as adding `"$="` to the matched Attribute operators in the parser:

https://github.com/kaj/rsass/blob/b85519315dd3e1c7dc98e38773be07e127149ccc/src/parser/selectors.rs#L63

And I guess the same should go for `~=` and `^=`.

[2021-02-12 14:35] kaj commented on #91
Fixed in #92, Thanks!

[2021-02-12 14:35] #91 closed

[2021-02-27 10:42] kaj commented on #60
@Boiethios , I think your code should work with release 0.16.

[2021-03-03 20:23] alvra opened #98 "Panick in planifolia sqrt"
When using the math functions from planifolia, I'm getting a panic computing a sqrt.

[code]

Example:
[code]

https://github.com/xi/sass-planifolia/blob/master/sass/math.scss

[2021-03-07 16:03] kaj commented on #98
Looking at the error, I guess this is a case I've kind of known about for a while but not gotten around to fix: numbers in rsass can be isize rational, bignum rational or f64, but there is not enough conversions in place to handle case like this.  If I try `sqrt(2.0000000000000000000000000001)` instead, i get bignum rationals and the code works (but rather slow, taking 14.32s on my machine).

So,

[2021-03-09 23:09] alvra commented on #98
Thanks for your suggestion. Using the builtin `sqrt` or a literal with up to 10 digits seems to work ok.
For future reference, there is a simpler way to reproduce this without importing planifolia:

[code]

[2021-03-13 12:23] #98 closed

[2021-04-18 18:52] #42 closed

[2021-05-09 13:41] Keats commented on #3
@kaj How close would you say it is to usable? I'm looking at alternatives to sass-rs for Zola and there is this library and grass which seem to be at roughly the same stage.

I've tried running the cmd line on the new bootstrap 5 scss files but I get:

[code]

The JS implementation (using dart-sass) from their package.json seem to compile it without errors. Now according to their docs `mix` should

[2021-05-10 17:03] kaj opened #107 "The `if` function is special: should be lazy."
The `if` function [is special in that it's argument should be lazily evaluated](https://sass-lang.com/documentation/modules#if).  Bootstrap 5 (and probably other common scss code) relies on this.

_Originally posted by @Keats in https://github.com/kaj/rsass/issues/3#issuecomment-835810305_

What happens in the bootstrap compiling error above is that both arguments to the `if` on line 166 is evalua

[2021-05-10 17:41] kaj commented on #3
As for the more general "use bootstrap and other libraries to find out what to implement next", I have only done so to some extent, but I don't think it's relevant to include that as an actual test case, at least not until it suceeds once manually.  :-)

[2021-05-10 18:39] Keats opened #108 "Semicolon after `@charset` should be optional"
From Bulma (current master)

[code]

[2021-05-11 12:10] kaj commented on #108
Hm.  That type of comment seems to be handled fine to me.  Maybe the problem is a comment in that position?

Ah, yes.  The problem is that there is no `;` at the end of the `@charset` declaration on line 1.  Yes, that should probably be optional.

[2021-05-13 11:34] kaj commented on #108
Looking closer, I notice that the bulma source files is in `sass` syntax, not `scss`.  Despite the name, rsass don't actually support the sass indention-based syntax (yet), only scss.  So I think I'll just close this after all.

[2021-05-13 12:00] Keats commented on #108
Whoa I didn't realise anyone was still using the sass syntax. That's a bit annoying but oh well.

[2021-05-13 12:41] #107 closed

[2021-05-13 12:44] kaj commented on #107
Note: One down, n to go.  The issue with the `if` function is resolved, but rsass still cant handle bootstrap.

[2021-05-13 12:45] #108 closed

[2021-06-01 20:57] Keats opened #112 "@content not allowed in global context"
From trying to compile bootstrap 5.0.1

Is it possible to have spanned errors or is it too complex? Right now it just prints the error message but there are many `@content` use in the whole bootstrap codebase.

[2021-06-02 09:54] kaj commented on #112
Also, just looking at the code, I think there is a problem with the condition causing that error.  Actually, it might be most correct to just remove it.  :-)

[2021-06-02 11:51] #112 closed

[2021-06-02 12:04] Keats commented on #112
Sweet thanks. Do you want me to report the bootstrap issues or is too much noise? I figure once rsass can compile bootstrap and some various sites I have lying around I can probably switch Zola from sass-sys to rsass which is pretty exciting!

[2021-06-02 13:05] kaj commented on #112
Keep them coming!  😎   As long as they are somewhat researched and not too many at the same time, they are a valuable help in getting rsass better!

Also, having something as good as Zola use rsass would be avesome!  Though there is some use of `@extend` (see #65) in bootstrap, so I fear it will take some time getting there.

[2021-06-02 13:09] Keats commented on #107
@kaj I'm running into this again on master with bootstrap 5.0.1

[code]

[2021-06-02 17:33] kaj commented on #107
Strange, I seem to get a different error.  Are you sure your `./target/debug/rsass` is up to date?  Note that a `cargo build` won't update it unless you have `--features=commandline` as an argument.

[2021-06-02 17:55] Keats commented on #107
Sorry I forgot about the flag :(

[2021-06-21 09:03] Keats opened #114 "Bootstrap compilation: rounding issues?"
[code]

I'm not sure wth they are doing in _functions.scss 140 to be honest: https://github.com/twbs/bootstrap/blob/main/scss/_functions.scss#L129-L145

[2021-07-02 21:36] kaj commented on #114
Yes, it seems the red/green/blue functions in other sass implementations return the components as they would be if the color were written to css, rather than the components as they are stored in the intermediate color value.  Maybe I should just do the same in rsass, i.e. round the components to integers before returning them.

[2021-07-02 23:27] #114 closed

[2021-07-03 09:29] Keats opened #115 "Bootstrap output"
Bootstrap now compiles without errors (🎊 ) but it produces some invalid CSS as it seems it didn't process everything.

The following bits are present in rsass output:

[code]

[code]

[code]

So it looks like some `extend` are not rendered and potentially some variables not replaced?

[2021-07-03 16:58] kaj commented on #115
Yes, bootstrap uses the `@extend` directive, which is not yet implemented by rsass (see #65 ). And since `@extend` is not yet supported, it is handled as if it were a css `@...` rule.

[2021-07-03 18:16] Keats commented on #115
Ah sorry I've missed that. It looks like a big chunk of work I guess, maybe the dart-sass implementation is clearer than the document?

The last one though doesn't seem like a `@extend`, it looks like a variable hasn't been replaced.

[2021-07-04 22:59] connorskees opened #116 "`map.merge` incorrect output for nested map"
For the given input
[code]

`rsass` will silently remove the keys `medium` and `bold`.

rsass output:
[code]
dart-sass output
[code]

[code]

[2021-08-08 16:33] chinedufn opened #117 "Returning spans when parsing"
Hey!

For reasons outlined in https://github.com/connorskees/grass/issues/50 , I'm looking to parse some Sass and be able to generate tooling with descriptive errors based on my own custom needs and lints.

It [looks like I can get back a `Vec<Item>`](https://docs.rs/rsass/0.22.2/rsass/fn.parse_scss_path.html), however if I decide that one of those items doesn't meet my criteria I can't print an e

[2021-09-13 05:56] kaj commented on #116
Yes, this seems like a bug (and my implementation of the merge function seems rather strage).

[2021-09-13 06:04] kaj commented on #117
Some `Item` variants have a `SourcePos` in them for possible error reporting.  Having a pos for _every_ item seems nicely consistent, but would it be enough?  wouldn't specific positions for different parts of the item be needed in some cases?

[2021-09-16 01:51] chinedufn commented on #117
Yeah I'd say that ideally every token has position information. i.e. selectors would have tokens.

I'm actually just using CSS now, at least for the time being, so feel free to close out this issue if you like.

Thanks!

[2021-09-17 19:26] #116 closed

[2021-09-20 08:13] paolobarbolini opened #119 "`filter: saturate(200%)` expected to be within 0 and 100"
## Reproduction

[code]

[is perfectly valid](https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/saturate()#examples_of_correct_values_for_saturate), but rsass errors with `BadCall("Error: $amount: Expected 200 to be within 0 and 100.", SourcePos { line: "                filter: saturate(200%);", line_no: 656, line_pos: 37, length: 14, file: SourceName { name: "static/assets/main.scs

[2021-09-23 20:00] kaj commented on #119
Thanks for reporting!  Yes, I used the same check for the single-argument `amount` as in `saturate(color, amount)`.  Seems simple enough to fix.

[2021-09-23 20:00] #119 closed

[2021-09-25 14:35] kaj commented on #117
There will be positions noted for more Items and Values before rsass reaches 1.0, but I'm closing this specific issue.

[2021-09-25 14:35] #117 closed

[2021-09-27 23:31] charlesxsh opened #120 "thread 'main' panicked at 'attempt to multiply with overflow'"
For given input file:
[in.zip](https://github.com/kaj/rsass/files/7239829/in.zip)

The following code:
[code]

Reports
[code]

Expect:
Properly return error instead of panic

[2021-09-27 23:35] charlesxsh opened #121 "panicked at 'denominator == 0'"
For given input file:
[in.zip](https://github.com/kaj/rsass/files/7239851/in.zip)

The following code:
[code]

Reports
[code]

Expect:
Properly return error instead of panic

[2021-09-27 23:38] charlesxsh opened #122 "panicked at 'attempt to divide by zero'"
For given input file:
[in.zip](https://github.com/kaj/rsass/files/7239857/in.zip)

The following code:
[code]

Reports
[code]

Expect:
Properly return error instead of panic

[2021-10-14 07:36] #121 closed

[2021-12-07 11:28] kaj commented on #120
Sorry for the delay in this.  I did a fix for it back in October, but decided it was "too ugly" and started some major refactoring that I never completed.  I'll go back to fixing it the easy way now (and maybe consider a more realistic version of that refactoring separately).

[2021-12-07 11:49] #120 closed

[2022-03-05 15:44] kaj opened #129 "Support the `sass:meta` module"
There should be complete support for the [`sass:meta`](https://sass-lang.com/documentation/modules/meta) module.  Some are done in #80, some improvements in #110, #113, and #126.

* [ ] `load-css` (I'm currently working on this)
* [x] `calc-args`
* [x] `calc-name`
* [x] `call`
* [x] `content-exists` (minor problems with error reporting remains)
* [x] `feature-exists` (the function is correct, but

[2022-03-05 15:51] kaj opened #130 "Support the `sass:selector` module."
There should be complete support for `sass:selector` module.  A little is done in #80, but much remains.

[2022-03-28 14:19] jonassmedegaard opened #136 "typo in file LICENSE: uder -> under"
The file `LICENSE` has a typo: uder -> under.

[2022-04-11 18:12] #136 closed

[2022-04-11 18:12] kaj commented on #136
Thanks!

[2022-05-06 11:01] kaj opened #139 "Limit plain css `@import` directives"
Plain css `@import` rules is only allowed on [a few condtions](https://sass-lang.com/documentation/at-rules/import#plain-css-imports).  Currently rsass considers any unresolved `@import` a plain css import, but in many cases it should signal an error instead.

[2022-05-15 12:35] #139 closed

[2022-05-15 12:48] kaj opened #141 "Improve parse errors"
Any errors discovered during parsing of scss (or css) input must pass through the [nom](https://lib.rs/crates/nom) error handing.  It has two error-handling "modes", of which rsass till use the simple/limited one.

- [ ] Switch to using [`nom::error::VerboseError`](https://docs.rs/nom/latest/nom/error/struct.VerboseError.html)
- [ ] Fix as many invidual error messages as possible to match dart-sas

[2022-05-18 06:12] jonassmedegaard opened #142 "crate bogusly says `0.24.1-PRE`"
Hi,

Release `v0.25.0` was released - exciting!
However, it seems you missed bumping the version in `Cargo.toml` - t still says `0.24.1-PRE` :-/

[2022-05-18 06:36] jonassmedegaard commented on #142
By the way (and only vaguely related to this issue): You might appreciate that I have packaged rsass for Debian - it is now sitting in the so-called [NEW queue](https://ftp-master.debian.org/new.html) awaiting a final screening before (hopefully) entering Debian officially.

[2022-05-18 10:30] kaj commented on #142
Ah, I accidentally pushed the new release as `0.24.1-PRE` first.  Then I updated the version number, commited, pushed to crates.io ...  But forgot to push to github.  Sorry.  Now it should hopefully say v0.25.0 everywhere.

Thanks for packaging!  I hope the package docs mentions the development status, that I don't yet claim to be a complete implementation of sass.  As long as that is noted (maybe

[2022-05-22 17:33] fasterthanlime opened #143 "More relative path handling problems for `@use` on Windows"
Sorry it took me so long to get back to this! I've just had a chance to try the new 0.25.0 and also change my SCSS from `@import` to `@use`, and I'm still getting errors:

[code]

Here's the code that calls into rsass, nothing fancy:

[code]

[2022-05-22 21:16] kaj commented on #143
Thanks for getting back about this!

Hm.  That does indeed look like it should find `_css_functions.scss` but still doesn't.  I have added some debug and trace level tracing to the file finding part of rsass, could you run again with rsass:debug enabled in tracing?

[2022-05-22 21:40] #142 closed

[2022-05-25 14:24] fasterthanlime commented on #143
Hi again!

I had to set `RUST_LOG` to `rsass=trace`, here's the complete log:

[code]

[2022-05-25 14:35] fasterthanlime commented on #143
It looks like building on paths with `/` works for some style of paths:

<img width="658" alt="image" src="https://user-images.githubusercontent.com/7998310/170288043-2f902986-442a-483f-84a5-fa8c3e913541.png">

But not the UNC style:

<img width="1118" alt="image" src="https://user-images.githubusercontent.com/7998310/170287884-6d7654b1-f737-4edb-aef2-4884d99292df.png">

I forget what both styles

[2022-05-25 16:27] kaj commented on #143
Hm.  Still not sure what happens, but the base seems correct, and looking again at the relevant code today, it seems some of it could be done by path.join operations (and some fiddling back to strings after accessing the actual file).  Will make an attempt, but I'm going to travel early tomorrow (swedish time, so in about twelve hours), so I'm not sure when I'll have some more patches to try.

[2022-05-26 08:56] kaj commented on #143
Does PR #144 seem to improve things?

[2022-05-26 17:05] fasterthanlime commented on #143
It does!

[code]

Now I'm running into another problem: `rsass` seems to want to evaluate the `min()` function invocation even though it's inside a `calc()`, specifically because I want to use CSS's `min` function, not SASS's.

[2022-05-27 15:28] kaj commented on #143
🎉  Great!

Sass is supposed to select the css `min(...)` function automatically when needed, based on the arguments, and rsass does that correctly in a bunch of cases.  But it does not yet realize that sometimes a string in the css code will come out looking like a number.  In this case, I think removing the string interpolation will work (I think it _should_ work with the interpolation as well, b

[2022-05-27 21:30] #143 closed

[2022-07-04 04:55] blackPeppper opened #149 "performance"
how mush rsass faster ato compile time compare to sass command line
at frist i am going to make a csspreprocessor in rust  because sass is slow but now ?

[2022-07-04 09:20] kaj commented on #149
Hi!  Being written in rust, rsass has the _potential_ to be very fast.  That said, I haven't really cared about performance yet, and don't really plan to bother with that until functionality is a log more complete (see e.g. #130 and #65).  There are some cases where the current parser gets slowed down by retrying things (e.g. extremely deep levels of parenthesis).

Also, I tend to use rsass in the

[2022-07-18 23:54] #149 closed

[2022-08-08 15:24] blackPeppper opened #155 "how mush faster ?"
[code]

this sass code is complied in

![Screenshot_6](https://user-images.githubusercontent.com/93441520/183453178-30b9f916-03e8-4c62-9854-4930006eac79.png)

how mush time does it takes with you sir

[2022-08-08 16:15] glebm commented on #155
You should probably run it yourself so that the measurements are comparable (from the same machine)!

[2022-08-08 22:00] kaj commented on #155
Here's times for that sass file on my machine with the sass implementations that I happen to have installed:

[code]

(Rsass and sass (the dart implementation installed from npm) produces identical output, while pysass (libsass) gives the same result semantically but in a slightly different format).

In this case, rsass is faster with some margin.  But I haven't really started to care about perfor

[2022-08-21 00:41] #155 closed

[2022-10-16 21:51] shyim commented on #115
I tested it also but it does not output anything. The CLI just hangs